body{
	background: #f2f2f2
}

input {
    outline: none;
    border: none;
}

#main-container{
	display: flex;
	margin-top: 75px;
	margin-bottom: 75px;
	height: 650px;
	width: 300px;

	padding: 0px 100px;
	justify-content: center;

	background: white;
	border-radius: 20px;
	flex-direction: column;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.swal-modal {
	font-family: Avenir Next;
}

#header{
	font-family: Avenir Next;
	font-size: 35px;
	font-weight: bold;
	color: #4D4D4D;
	padding-top: 25px;
	text-align: center;
}

#icon{
	padding-top: 50px;
	align-self: center;
	max-width:100px;
	max-height: 100px;
	padding-bottom: 75px;
}

#passwordContainer, #confirmPasswordContainer{
	width: 100%;
	position: relative;
	border-bottom: 2px solid #adadad;
	margin-bottom: 37px;
}

#password, #confirmPassword{
	font-family: Avenir Next;
	font-size: 15px;
	color: #555555;
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 45px;
	background: transparent;
	padding: 0 5px;
}

#passwordError{
	display: none;
	position: relative;
	font-family: Avenir Next;
	font-size: 12px;
    color: #cc0000;
    top: 0px;
    padding: 5px 5px 0px 5px;
}

.redPlaceholder::-webkit-input-placeholder {
    color: #cc0000;
}

#submit {
	font-size: 16px;
	background: -webkit-linear-gradient(right,  #91A8D2, #F9CBC9);
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
}

#buttons{
	height:50px;
	padding: 0 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#sign-in{
	text-align: center;
	font-family: Avenir Next;
	font-size: 14px;
	color: #4D4D4D;
	text-decoration: none;
}