body{
  margin: 0px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Avenir Next;
}

#outerContainer{
  max-width: 1300px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header{
  position: relative;
  padding-top: 25px;
  height: 75px;
  width: 100%;
}

.header-text{
  font-family: Avenir Next;
  font-size: 22px;
  font-weight: bold;
  color: #4D4D4D;
  padding-top: 25px;
}

.title-text{
  font-family: Avenir Next;
  font-size: 35px;
  font-weight: bold;
  color: #4D4D4D;
  bottom: 0px;
  position: absolute;
}

.header-text:hover{
  cursor: pointer;
}

.icon{
  position: relative;
  float: left;
  margin-left: 50px;
  height: 75px;
  width: 100px;
}

.icon:hover{
  cursor: pointer;
}

.icon-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 12px;
}

.search-bar{
  position: relative;
  float: left;
  margin-left: 50px;
  height: 75px;
  width: 38%;
  max-width: 650px;
}

.header-frame{
  position: relative;
  float: right;
  margin-right: 50px;
  width: 20%;
  max-width: 300px;

  display: flex;
  justify-content: space-between;
}

.main{
  position: relative;
  height: calc(100vh - 100px);
  width: 100%;
}

.main-frame{
  display:flex;
  position: relative;
  top: 50px;
  left: 150px;
  width: calc(100% - 150px);
  padding-bottom: 50px;
}

.category button {
  text-align: center;
  color: black;
  background: #D3D3D3;
  border-radius: 25px;
  margin-right: 10px;
  margin-bottom: 40px;
  font-size: 16px;
  font-family: Avenir Next;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px solid #808080;
  transition: all .5s;
}

.category button:hover{
  color: white;
  background: #757575;
  border: 2px solid #757575;
}

.pic-button {
  display:flex;
  justify-content: space-between;
  padding-bottom:50px;
}
.product {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Avenir Next;
    font-size: 35px;
    font-weight: bold;
    color: #4D4D4D;
  margin: 0;
  padding: 0;

}
h2 {
  font-family: Avenir Next;
    font-size: 25px;
    font-weight: normal;
    color: #4D4D4D;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
h3 {
  font-family: Avenir Next;
    font-size: 15px;
    font-weight: bold;
    color: #4D4D4D;
  margin: 0;
  margin-top: 20px;
  margin-right: 60px;
  padding: 0;

}
h4 {
  font-family: Avenir Next;
    font-size: 15px;
    font-weight: normal;
    color: #4D4D4D;
  margin: 0;
  margin-right: 60px;
  padding: 0;
  padding-bottom: 60px;

}

h5{
  font-family: Avenir Next;
    font-size: 18px;
    font-weight: bold;
    color: #4D4D4D;
  margin:0;
  margin-top:45px;
}

h6{
  font-family: Avenir Next;
    font-size: 15px;
    font-weight: normal;
    color: #4D4D4D;
  margin:0;
  padding:0;
}
p{
  font-family: Avenir Next;
  color: #4D4D4D;

}
.product-basic {
  max-width: 66%;
}
.product img {
  max-width: 100%;
}
.product-description {
  margin-top:30px;
  max-width: 100%;
}
.product-map {
  max-width: 100%;
  margin-bottom:30px;
}

hr {
  margin-top:20px;
  margin-bottom: 30px;
}


.description-specific {
  display: flex;
  flex-direction: row;
}

#seller {
  margin: 8px;
  width: 95%;
  overflow-y:auto;
  overflow-x:hidden;
}

#top{
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px;
  margin-bottom: 25px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#seller-info{
    display: flex;
    flex-direction: column;

}
#seller-info hr{
  margin-top:10px;
  width: 80%;
}

#seller-pic{
    width: 30px;
}


.seller-info {
  position:absolute;
  display: block;
  margin-top:15px;
  margin-left: 120px;
  margin-bottom:20px;
}

#seller img {
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right:30px;
  margin-left:30px;
  margin-top:30px;
}
#seller #button {
  color: black;
  background:rgb(255, 255, 255);
  border-radius: 25px;
  width: 80%;
  margin-left: 10%;
  height:40px;
  margin-bottom: 30px;
  font-family: Avenir Next;
  font-size: 15px;
  border: 2px solid #808080;
  transition: all .5s;
}

#seller #button:hover{
  color: white;
  background:rgb(244, 183, 182);
  border: 2px solid rgb(244, 183, 182);
}

.seller hr {
    height: 2px;
    border: 0;
    border-top: 1px solid black;
    width:80%;
    overflow-y:scroll
}

#temp {
  display:none;
}


#input-name {
  position:absolute;
  width: 80%;
  margin-left:25px;
  border:none;
}

#input-email {
  margin-top:270px;
  position:absolute;
  width: 80%;
  margin-left:25px;
  border:none;
}
#input-submit {
  position:absolute;
  margin: 360px 16.5px 0px 16.5px
}

.bt input[type=submit] {
  float:right;
  margin:0;
  padding:0;
  color: black;
  background:white;
  border-radius: 25px;
  border-color:grey;
  width: 80%;
  height:40px;
  font-family: Avenir Next;
  font-size: 15px;
  border: 2px solid #808080;
  transition: all .5s;
}

#input-submit:hover{
  color: white;
  background:rgb(244, 183, 182);
  border: 2px solid rgb(244, 183, 182);
}

.bid-button {
  font-family: Avenir Next;
    font-size: 35px;
    font-weight: bold;
    color: #4D4D4D;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.buy-button{
  font-family: Avenir Next;
    font-size: 35px;
    font-weight: bold;
    color: #4D4D4D;
  margin: 0;
  padding: 0;
  background: none;
  border: none;

}

#purchase input[type=submit] {
  position:relative;
  top:-50px;
  margin:0;
  padding:0;
   color: black;
  background:white;
  border-radius: 25px;
  border-color:grey;
  width: 30%;
  float:right;
  height:40px;
  font-family: Avenir Next;
  font-size: 15px;
  border: 2px solid #808080;
  transition: all .5s;
}

#purchase input[type=submit]:hover{

  color: white;
  background:rgb(244, 183, 182);
  border: 2px solid rgb(244, 183, 182);
}

input[type=number] {
   border: 0;
     outline: 0;
     background: transparent;
   height: 40px;
  font-family: Avenir Next;
    font-size: 25px;
      color: #4D4D4D;
}


textarea{
  position:absolute;
  margin-top: 40px;
  margin-left: 25px;
  border-radius: 5px;
  border-color:grey;
  width:262.5px;
  outline:none;
  resize: none;
  font-family: Avenir Next;
  font-size: 15px;
  color: #4D4D4D;
  
}


#seller input[type=text] {
  border: 0;
  outline: 0;
  background: transparent;
  height: 40px;
  font-family: Avenir Next;
  font-size: 15px;
}

.saved-items{
  position:absolute;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  right: 10px;
  height: 500px;
  width: 0px;
  display: none;
  float: right;
  border-radius: 4px;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#saved-message-frame{
  margin-top:0;
  padding-top:0;
  position: absolute;
  height: 100%;
  right: 0px;
  width: 350px;
  overflow-x: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#demo {
  
  font-size: 15px;
  margin-top: 0px;
  display:inline;
  
}
#p-inline{
  margin:0;
  padding:0;
  margin-right:10px;
  display:inline;
}

.saved-title{
  font-family: Avenir Next Italic;
  font-size: 18px;
  font-weight: bold;
  color: #4D4D4D;
  padding-top: 30px;
  padding-left: 35px;
  padding-bottom: 10px;
}
.inner-frame{
  display: flex;
}

#saved-table{
  width: 100%;
  border-collapse: collapse;

}

td {
  border: none;
  border-bottom: 1px solid #ddd;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  overflow: hidden;
}

.table-item-text {
  font-family: 'Avenir Next';
  font-weight: 200;
  font-size: 16px;
}

.table-item-text:hover{
  cursor: pointer;
}

.table-price-text {
  font-family: 'Avenir Next Italic';
  font-weight: normal;
  font-size: 16px;
}

/* third column */
td:first-child + td + td {
  min-width: 20px;
  cursor: pointer;
}

tr:hover {
  background-color: #f5f5f5;
}

.heart{
  height: 18px;
  width: 18px;
  position: absolute;
  color: white;
  padding-top: 15px;
  padding-left: 15px;
}

.heart:hover{
  cursor: pointer;
}


body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#saved-items::-webkit-scrollbar {
  width: 10px;
}
 
#saved-items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#saved-items::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.header input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  height: 65px;
  width: 100%;

  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  transition: 0.5s;
  outline: none;
  position: absolute;

  font-size: 20px;
  font-family: Avenir Next;
  color: #4D4D4D;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header input[type=text]:focus {
  border: 3px solid #4D4D4D;
  border-radius: 4px;
}


#bid-now {
  margin-top:5px;
  max-width: 100%;
}
.format{
  display:inline;
  margin:0;
  padding:0;
}

.bid-h2 {
  padding:0;
  display: inline;
}

.bid-submit {
  width:500px;
  transition: all .5s;
}


#buy-now{
  max-width:100%;
  display:none;
}
#purchase{
  margin-top:30px;
  max-width:100%;
}

.item-active, .item{
  min-height: 400px;
  height: 400px;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-Medium.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url("./fonts/AvenirNext-UltraLightItalic.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url("./fonts/AvenirNext-Italic.ttf");
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url("./fonts/AvenirNext-MediumItalic.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url("./fonts/AvenirNext-BoldItalic.ttf");
  font-weight: bold;
}