body{
	background: #f2f2f2
}

input {
    outline: none;
    border: none;
}

#main-container{
	display: flex;
	margin-top: 20vh;
	margin-bottom: 20vh;
	height: 575px;
	width: 300px;

	padding: 0px 100px;
	justify-content: center;

		background: white;
		border-radius: 20px;
		flex-direction: column;


		box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

#header{
	font-family: Avenir Next;
	font-size: 40px;
	font-weight: bold;
	color: #4D4D4D;
	padding-top: 25px;
	text-align: center;
}

#icon{
	padding-top: 50px;
	align-self: center;
	max-width:100px;
	max-height: 100px;
	padding-bottom: 75px;

}

#usernameContainer, #passwordContainer{
	width: 100%;
	position: relative;
	border-bottom: 2px solid #adadad;
	margin-bottom: 37px;
}

#sectionTwo{
	height: 0px;
}

#nameContainer{
	display: flex;
	flex-direction: row;
}

#firstNameContainer, #lastNameContainer{
	width: 47.5%;
	position: relative;
	border-bottom: 2px solid #adadad;
	margin-bottom: 37px;
	display: none;
}

#firstNameContainer{
	margin-right: 5%;
}



#emailContainer, #locationContainer, #zipContainer{
	width: 100%;
	position: relative;
	border-bottom: 2px solid #adadad;
	margin-bottom: 37px;
	display: none;
}

#username, #password, #email, #location, #zipCode{
	font-family: Avenir Next;
	font-size: 15px;
	color: #555555;
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 45px;
	background: transparent;
	padding: 0 5px;
}

#firstName, #lastName{
	font-family: Avenir Next;
	font-size: 15px;
	color: #555555;
	line-height: 1.2;
	display: block;
	width: 97.5%;
	height: 45px;
	background: transparent;
	padding: 0 5px;
}

#usernameError, #emailError, #zipCodeError{
	display: none;
	position: relative;
	font-family: Avenir Next;
	font-size: 12px;
    color: #cc0000;
    top: 0px;
    padding: 5px 5px 0px 5px;
}

.redPlaceholder::-webkit-input-placeholder {
    color: #cc0000;
}

#next, #submit{
	font-size: 16px;
	background: -webkit-linear-gradient(right,  #91A8D2, #F9CBC9);
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
}

#submit{
	display:none;
	margin-top: 10px;
}

#buttons{
	height:50px;
	padding: 0 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}
