body{
	margin: 0px;
	width: 100%;
	overflow-y: auto;
 	display: flex;
	align-items: center;
	justify-content: center;
  font-family: Avenir Next;
}

.swal-modal {
	font-family: Avenir Next;
}

#outerContainer{
	max-width: 1400px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.header{
	position: relative;
	padding-top: 25px;
	height: 75px;
	width: 100%;
}

.header-text{
  font-family: Avenir Next;
  font-size: 22px;
  font-weight: bold;
  color: #4D4D4D;
  padding-top: 25px;
}

.title-text{
  font-family: Avenir Next;
  font-size: 35px;
  font-weight: bold;
  color: #4D4D4D;
  bottom: 0px;
  position: absolute;
}

.header-text:hover{
  cursor: pointer;
}

.icon{
	position: relative;
	float: left;
	margin-left: 50px;
	height: 75px;
	width: 100px;
}

.icon:hover{
  cursor: pointer;
}

.icon-image{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 12px;
}

.search-bar{
	position: relative;
  float: left;
	margin-left: 50px;
  height: 75px;
  width: 38%;
  max-width: 650px;
}

.header-frame{
  position: relative;
  float: right;
  margin-right: 50px;
  width: 300px;

  display: flex;
  justify-content: space-between;
}

.main{
	position: relative;
	height: calc(100vh - 100px);
	width: 100%;
}

.main-frame{
	position: relative;
	top: 50px;
	left: 150px;
	width: calc(100% - 300px);
	padding-bottom: 50px;
}

.inner-frame{
  display: flex;
}

.inner-account-frame{
  display: flex;
  flex-direction: column;
}

#profile-pic{
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.browser-bar{
	position: relative;
	height: 75px;
	width: 100%;
}

.section-text {
  position: relative;
  margin-top: 75px;
  margin-left: 60px;
  color: #494949
}

.account-section{
    display: flex;
    flex-direction: column;
}

.browser-text{
	position: relative;
  margin-left: 60px;
  height: 75px;
  width: 300px;
}

.saved-items{
  height: 70vh;
  width: 0px;
  display: none;
  float: right;

  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: relative;
  top: 0px;

  overflow-y: auto;
}

.saved-title{
  font-family: Avenir Next Italic;
  font-size: 18px;
  font-weight: bold;
  color: #4D4D4D;
  padding-top: 30px;
  padding-left: 35px;
  padding-bottom: 10px;
}

#saved-table{
  width: 100%;
  border-collapse: collapse;

}

td {
  border: none;
  border-bottom: 1px solid #ddd;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  overflow: hidden;
}

.table-item-text {
  font-family: 'Avenir Next';
  font-weight: 200;
  font-size: 16px;
}

.table-item-text:hover{
  cursor: pointer;
}

.table-price-text {
  font-family: 'Avenir Next Italic';
  font-weight: normal;
  font-size: 16px;
}

/* third column */
td:first-child + td + td {
  min-width: 20px;
  cursor: pointer;
}

tr:hover {
  background-color: #f5f5f5;
}

.heart{
  height: 18px;
  width: 18px;
  position: absolute;
  color: white;
  padding-top: 15px;
  padding-left: 15px;
}

.heart:hover{
  cursor: pointer;
}

.item-frame{
  position: relative;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  height: calc(100% - 100px);
  width: calc(100% - 80px);
  max-width: 1525px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

#browse-frame{
  justify-content: space-evenly;
}

#account-frame{
  justify-content: space-between;
}

.item{
  width: 325px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  min-width: 225px;
  overflow: hidden;
  flex: 0 1 calc(25% - 40px)
}

.new-item{
    height: 300px;
    width: 225px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    min-width: 225px;
    overflow: hidden;
    flex: 0 1 calc(25% - 40px);
    border: 1px solid #494949;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    transition: all .5s;
}

.new-item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.item-image{
	height: 200px;
	max-width: 325px;
	overflow: hidden;
  justify-content: center;
  display: flex;
}

.item-image:hover{
  cursor: pointer;
}

.item-image-pic{
	max-height: 200px;
	max-width: 325px;
	min-height: 200px;
	min-width: 325px;
}

.item-title{
}

.item-title:hover{
  cursor: pointer;
}

.item-title-text{
	font-family: Avenir Next;
  font-size: 20px;
  font-weight: bold;
  color: #3C3C3C;
}

.item-location{
	height: 22px;
	width: 325px;
}

.item-location-text{
	font-family: Avenir Next Italic;
  font-size: 14px;
  font-weight: 200;
  color: #505050;
}

.item-price{
	height: 25px;
	width: 325px;
}

.item-price-text{
	font-family: Avenir Next Italic;
  font-size: 14px;
  font-weight: bold;
  color: #4C4C4C;
}

.sign-out-button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    border: #CD5C5C solid 1px;
    background-color: white;
    cursor: pointer;
    margin-top: 25px;
    transition: all .5s;
}

.sign-out-button:hover{
    background-color: #CD5C5C;
    color: white!important;
    border: white solid 1px!important;
}

#sign-out-text{
    text-decoration: none;
    color: #494949;
}


#sign-out-text:hover{
    color: white!important;
}

.footer{
	position: absolute;
	bottom: 0px;
	height: 75px;
	width: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#saved-items::-webkit-scrollbar {
  width: 10px;
}

#saved-items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#saved-items::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#search {
  padding: 12px 20px;
  margin: 8px 0;
  height: 65px;
  width: 100%;

  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  transition: 0.5s;
  outline: none;
  position: absolute;

  font-size: 20px;
  font-family: Avenir Next;
  color: #4D4D4D;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search:focus {
  border: 3px solid #4D4D4D;
  border-radius: 4px;
}

#new-listing-form{
    display: flex;
    flex-direction: column;
}

.fas:hover{
    color: #CD5C5C;
}

.fa-times:hover{
    color: #CD5C5C;
}

#price-container{
    display: flex;
    flex-direction: row;
}

.listing-input{
    border: none;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 60px;
    border-bottom: 1px solid #494949;
    padding: 10px;
    opacity: 1;
}

#new-listing-submit{
    cursor: pointer;
    transition: all .5s;
}

#new-listing-submit:hover{
    background: #CD5C5C;
    color: white!important;
    border: 1px solid white!important;
}

.listing-input::placeholder{
    padding-left: 10px;
}

#upload-image{
    margin-left: 60px;
}

.radio-input{
    padding-bottom: 10px;
    margin-left: 60px;
    opacity: 1;
    margin-top: 10px;
}

.uploaded-image{
    margin-left: 60px;
    height: 300px;
    width: 225px;
    border-radius: 25px;
    object-fit: cover;
    margin-top: 20px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#upload-image input[type=file]{
    opacity: 0;
    cursor: pointer;
    height: 300px;
    position: absolute;
}

#picture-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-Medium.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url("./fonts/AvenirNext-UltraLightItalic.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url("./fonts/AvenirNext-Italic.ttf");
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url("./fonts/AvenirNext-MediumItalic.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url("./fonts/AvenirNext-BoldItalic.ttf");
  font-weight: bold;
}
